{# templates/usuario/ver_usuario.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Usuarios</li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Usuarios
            <a href="usuario" class="btn btn-primary btn-sm float-right">Registrar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if usuarios %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Identificacion</th>
                                <th>Nombre</th>
                                <th>Usuario</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.persona.identificacion }}</td>
                                    <td>{{ usuario.persona.nombres }} {{ usuario.persona.apellidos }}</td>
                                    <td>{{ usuario.usuario }}</td>
                                    <td><a href="/index.php/actualizar_usuario/{{ usuario.id }}" class="btn btn-info btn-sm">Actualizar</a>
                                        <a href="/index.php/eliminar_usuario/{{ usuario.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>No se encontraron datos para mostrar</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
