<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>Inicio de Sesion</title>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/estilo.css" rel="stylesheet">

</head>

{% block body %}
<br>
<div class="container">
    <div class="card card-login mx-auto mt-5" style="width: 30rem;">
        <div class="card-header">Inicio de Sesion</div>
            <div class="card-body">
                <form method="post">
                    <label>Usuario</label>
                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <br>
                    <label>Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <br>
                    <button class="btn btn-lg btn-primary btn-responsive" type="submit">
                        Iniciar
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
