{# templates/categoria/ver_categorias.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Categorias</li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Categorias
            <a href="categoria" class="btn btn-primary btn-sm float-right">Registrar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if categorias %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categorias %}
                                <tr>
                                    <td>{{ categoria.nombre }}</td>
                                    <td>{{ categoria.descripcion }}</td>
                                    <td><a href="/index.php/actualizar_categoria/{{ categoria.id }}" class="btn btn-info btn-sm">Actualizar</a>
                                        <a href="/index.php/eliminar_categoria/{{ categoria.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>No se encontraron datos para mostrar</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
