{# templates/persona/persona.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Personas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="/index.php/ver_personas">Persona</a></li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Gestión de Personas
        </div>

        <div class="container-fluid">
    
            {{ form_start(form) }}
                <br>
            {{ form_end(form) }}
        </div>
    </div>
        
    </div>
{% endblock %}
