{# templates/persona/ver_personas.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Personas{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Personas</li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Personas
            <a href="persona" class="btn btn-primary btn-sm float-right">Registrar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if personas %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Identificacion</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for persona in personas %}
                                <tr>
                                    <td>{{ persona.identificacion }}</td>
                                    <td>{{ persona.nombres }}</td>
                                    <td>{{ persona.apellidos }}</td>
                                    <td>{{ persona.correo }}</td>
                                    <td><a href="/index.php/actualizar_persona/{{ persona.id }}" class="btn btn-info btn-sm">Actualizar</a>
                                        <a href="/index.php/eliminar_persona/{{ persona.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>No se encontraron datos para mostrar</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
