{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Prueba El Pais{% endblock %}</title>

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/index.php">{% block title_panel %}Prueba El Pais{% endblock %}</a>
        </nav>

        <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/index.php">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ver_actividades">
            <i class="fas fa-fw fa-table"></i>
            <span>Actividades</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ver_categorias">
            <i class="fas fa-fw fa-table"></i>
            <span>Categorias</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="ver_personas" id="ver_personas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Personas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ver_usuarios">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Usuarios</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Cerrar sesión</span></a>
        </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">

                <!-- Breadcrumbs-->
                
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/index.php">Inicio</a>
                </li>
                {% block breadcrumb %}
                <li class="breadcrumb-item active">Prueba el Pais</li>
                {% endblock %}
                </ol>
            </div>
            <!-- /.container-fluid -->
            <div class="container-fluid">
                {% block new %}
                {% endblock %}
                {% block contenido_panel_form %}
                {% endblock %}
            </div>

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Desarrollado por Leidy Bustamante</span>
                </div>
            </div>
        </footer>

    </div>
    </body>

</html>
