{# templates/actividad/actividad.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="/index.php/ver_actividades">Actividades</a></li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Gestión de Actividades
        </div>

        <div class="container-fluid">
            {{ form_start(form) }}
                <br>
            {{ form_end(form) }}
        </div>
    </div>
        
    </div>
{% endblock %}
