{# templates/actividad/ver_actividades.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block new %}
    
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Actividades</li>
{% endblock %}

{% block contenido_panel_form %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>Actividades
            <a href="actividad" class="btn btn-primary btn-sm float-right">Registrar</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if actividades %}
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for actividad in actividades %}
                                <tr>
                                    <td>{{ actividad.nombre }}</td>
                                    <td>{{ actividad.categoria.nombre }}</td>
                                    <td>{{ actividad.descripcion }}</td>
                                    <td>{{ actividad.fecha_tarea|date("m/d/Y") }}</td>
                                    <td><a href="/index.php/actualizar_actividad/{{ actividad.id }}" class="btn btn-info btn-sm">Actualizar</a>
                                        <a href="/index.php/eliminar_actividad/{{ actividad.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>No se encontraron datos para mostrar</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}